<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-heading">Módulos</li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/dashboard']" routerLinkActive="collapsed" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/videos']" routerLinkActive="collapsed">
        <i class="fas fa-chart-line"></i>
        <span>Videos Institucionales</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/posts']" routerLinkActive="collapsed">
        <i class="fas fa-book"></i>
        <span>Postss</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/anuncios']" routerLinkActive="collapsed">
        <i class="fas fa-paper-plane"></i>
        <span>Anuncios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/cat-posts']" routerLinkActive="collapsed">
        <!-- <i class="fas fa-clipboard-list"></i> -->
        <i class="fas fa-tasks"></i>

        <span>C. Posts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/cat-anuncios']" routerLinkActive="collapsed">
        <i class="fas fa-tasks"></i>
        <span>C. Anuncios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/tags']" routerLinkActive="collapsed">
        <i class="fas fa-tags"></i>
        <span>Tags</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->
