<!-- Start inner page Banner -->
<div class="banner inner-banner">
   <div class="container">
      <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a routerLink="/">
                  <i class="fas fa-home"></i>
                  Home
               </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
               Sobre nosotros
            </li>
         </ol>
      </nav>
   </div>
</div>
<!-- End inner page Banner -->

<!-- start who-we-are-style-1 -->
<section class="who-we-are-style-1 motion-effects-wrap">
   <div class="container">
      <div class="row gutter-30 align-items-center">
         <div class="col-xl-7 col-lg-10 mx-auto">
            <div class="about-img-gallery-style-1">
               <ul class="about-img-gallery-list">
                  <li>
                     <img class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="800ms"
                        src="https://via.assets.so/img.jpg?w=551&h=700" alt="about-img_1">
                  </li>
                  <li>
                     <img class="wow fadeInRight" data-wow-delay="500ms" data-wow-duration="800ms"
                        src="https://via.assets.so/img.jpg?w=551&h=555" alt="about-img_2">
                  </li>
                  <li>
                     <img class="wow fadeInUp" data-wow-delay="700ms" data-wow-duration="800ms"
                        src="https://via.assets.so/img.jpg?w=551&h=320" alt="about-img_3">
                  </li>
               </ul>
               <ul class="shape-list">
                  <li><img class="motion-effects1" src="./assets/web/media/elements/element_17.png" alt="element_17"
                        width="73" height="28"></li>
                  <li><img class="motion-effects1" src="./assets/web/media/elements/element_18.png" alt="element_18"
                        width="113" height="104">
                  </li>
               </ul>
            </div>
         </div>

         <div class="col-xl-5 col-lg-10 mx-auto animate__animated animate__fadeInUp" data-wow-delay="600ms"
            data-wow-duration="800ms">
            <div class="about-content-style-1">
               <div class="rt-section-heading-style-2 mb-0" style="text-align:justify">
                  <span class="sub-title">Quiénes somos</span>
                  <!-- <h2 class="heading-tilte">
                     RESEÑA HISTÓRICA DE LA <br> I. E. P. "EL PREGRINO"
                  </h2> -->
                  <p>
                     Desde 2005, trabalhamos oferecendo serviços de consultoria profissional para clientes no Brasil e
                     para outras regiões de Latinoamerica. Desde o planejamento estratégico a soluções simples mas
                     eficientes assim como a tecnologias inovadoras que possam impulsionar melhor os investimentos, o
                     nosso foco é sempre construir um relacionamento com os nossos clientes de longa duração e
                     orientá-los a resultados de sucesso. Tendo a JMPaquaculture monitorando seu cultivo e direcionando
                     seu manejo terá uma segurança na sua empresa de que se está realizando o melhor que existe no mundo
                     da aquicultura. Entre em contato e conheça melhor os nossos serviços de consultoria.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-12 mx-auto animate__animated animate__fadeInUp" data-wow-delay="600ms"
            data-wow-duration="800ms">
            <div class="about-content-style-1">
               <div class="rt-section-heading-style-2 mb-0" style="text-align:justify">
                  <!-- <span class="sub-title">Quiénes somos</span>
                  <h2 class="heading-tilte">
                     RESEÑA HISTÓRICA DE LA I. E. P. "EL PREGRINO"
                  </h2> -->

               </div>
            </div>
         </div>

      </div>

   </div>

</section>

<section class="who-we-are-style-2 motion-effects-wrap">
   <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6" style="text-align:justify">
            <div class="d-flex" style="justify-content: center; flex-direction: column;
            align-items: center;">
               <h1 style="text-align: center;">NUESTROS VALORES</h1>
               <ul class="d-flex flex-column gap-2">
                  <li style="list-style: disc;">Comprometimento com a qualidade e a excelencia nos serviços prestados</li>
                  <li style="list-style: disc;">Ética e transparência nas relações com clientes, colaboradores e parceiros</li>
                  <li style="list-style: disc;">Respeito ao meio ambiente.</li>
                  <li style="list-style: disc;">Inovação e tecnologia como ferramentas para melhorar a produção aquícola</li>
                  <li style="list-style: disc;">Responsabilidade social e comprometimento com o desenvolvimento sustentável.</li>
               </ul>
            </div>
         </div>
         <div class="col-12 col-lg-6"
            style="text-align:justify; display: flex;justify-content: center; padding-top: 35px;">
            <div style="max-width: 400px;">
               <h1 style="text-align: center;">VISIÓN</h1>
               <p style="text-align: justify; font-size: 18px;">
                  Ser líder no setor aquícola, oferecendo soluções inovadoras e tecnológicas que atendam as necessidades
                  e expectativas dos nossos clientes e colaboradores. Queremos sempre contribuir para um mundo mais
                  sustentável, onde a produção de organismos aquáticos seja uma alternativa viável e responsável para a
                  promover a inclusão de proteína aquática na alimentação humana.</p>
               <br>
               <hr><br>
               <h1 style="text-align: center;">MISIÓN</h1>
               <p style="text-align: justify; font-size: 18px;">A JMPaquaculture tem como objetivo principal que todos
                  os participantes da cadeia aquicola obtenham seus melhores resultados, que o sucesso seja para todos.
                  É por isto que todos os nossos produtores podem estar tranquilos porque cada decisão tomada na
                  JMPaquaculture será sempre em favor do seu investimento.</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end who-we-are-style-1 -->

<!-- start about-section-style-2 -->
<!-- <section class="about-section-style-2 section-padding-2 bg--gray counter-appear motion-effects-wrap">
   <div class="container">
      <div class="row gutter-20 align-items-center">

         <div class="col-xl-5 col-lg-6 animate__animated animate__fadeInUp" data-wow-delay="300ms"
            data-wow-duration="800ms">
            <div class="about-content-area-2">
               <div class="rt-section-heading-style-2">
                  <h2 class="heading-tilte">
                     We Develop & Create
                     Digital Future.
                  </h2>
                  <p>
                     Nec nascetur mus vicideolor rhoncus augue quisque parturientet
                     imperdet sit nisi tellus veni faucibus orcimperdietenatis nullam
                     rhoncus curabitur monteante.
                  </p>
               </div>
               <div class="skills-wrap-layout-1">
                  <div class="single-skill">
                     <div class="title-bar">
                        <h3 class="title"> Development </h3>
                     </div>
                     <div class="skill-bar">
                        <div class="skill-per" data-per="69"></div>
                     </div>
                  </div>

                  <div class="single-skill">
                     <div class="title-bar">
                        <h3 class="title">Success</h3>
                     </div>
                     <div class="skill-bar">
                        <div class="skill-per" data-per="88"></div>
                     </div>
                  </div>

                  <div class="single-skill">
                     <div class="title-bar">
                        <h3 class="title">Finished Projects</h3>
                     </div>
                     <div class="skill-bar">
                        <div class="skill-per" data-per="57"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         

         <div class="col-xl-7 col-lg-6 animate__animated animate__fadeInUp" data-wow-delay="800ms"
            data-wow-duration="800ms">

            <div class="about-video-wrap-style-1">
               <div class="shape d-none-d-lg-block">
                  <img class="motion-effects1" src="./assets/web/media/elements/element_19.png" alt="element_19"
                     width="97" height="89">
               </div>
               <div class="item-img">
                  <img src="./assets/web/media/about/about-img_4.jpg" alt="about-img" width="696" height="425">
                  <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn play-btn-white_xl rt-play-over">
                     <i class="fas fa-play"></i>
                  </a>

               </div>
            </div>

         </div>
         

      </div>
      
   </div>
   
</section> -->
<!-- end about-section-style-2 -->