<!-- Header -->
<header class="rt-header sticky-on">

  <!-- sticky-placeholder -->
  <div id="sticky-placeholder"></div>

  <!-- start  topbar -->
  <div class="topbar topbar-style-1" id="topbar-wrap">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-7">
          <div class="meta-wrap">
            <span class="rt-meta">
              <i class="far fa-calendar-alt icon"></i>
              <span class="currentDate p-2">
                DECEMBER 9, 2022
              </span>
            </span>
          </div>
        </div>
        <!-- end col -->

        <div class="col-lg-5">
          <div class="rt-topbar-right">
            
            <div class="social-wrap d-none d-xl-block">
              <ul class="rt-top-social">
                <li class="follow">Síguenos:</li>
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <!-- <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li> -->
                <!-- <li><a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest-p"></i>
                  </a>
                </li> -->
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- end col -->

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->

  <!-- header-middlebar -->
  <div class="header-middlebar header-middlebar-style-8" id="middlebar-wrap">
    <div class="container">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center gap-4">

          <!-- start logo here -->
          <div class="site-branding">
            <a class="dark-logo" routerLink="/"><img width="800" height="80"
                src="https://res.cloudinary.com/ligthsoft/image/upload/v1669812670/peregrino/oyrronnopzrahvhyumrt.png" alt="el-peregrino"></a>
                <!-- src="./assets/web/media/logo/black-peregrino.png" alt="el-peregrino"></a> -->
            <a class="light-logo" routerLink="/"><img width="800" height="80"
                src="https://res.cloudinary.com/ligthsoft/image/upload/v1669812670/peregrino/oyrronnopzrahvhyumrt.png" alt="el-peregrino"></a>
                <!-- src="./assets/web/media/logo/white-peregrino.png" alt="el-peregrino"></a> -->
          </div>
          <!-- end logo here -->

          <div class="ad-banner-img">
            <a  style="pointer-events: none;">
              <!-- <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/243219549_355461349709375_2987990243537883321_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeF2KP-dA-tphFXKhOj8CmVVSKzljcGh-BZIrOWNwaH4Fs6_u5ftvbe8MbEKNetrfymzkhoRP9Yg3A30A7arVm-Q&_nc_ohc=5yz9otIk4hIAX-HJ1Nq&tn=xK7XtIbp0vn8LQcd&_nc_ht=scontent-lim1-1.xx&oh=00_AT9e-6LoRC5fcJ5TeHFuj7uGnZ0SV3RrueEYAl_1kgLGkA&oe=635D6F48" alt="travel-ad_1" width="850" height="90"> -->
              <!-- <img src="./assets/web/media/gallery/travel-ad_1.jpg" alt="travel-ad_1" width="850" height="90"> -->
            </a>
          </div>
          <!-- end ad-banner-img -->

        </div>
      </div>
    </div>
  </div>
  <!-- end header-middlebar -->

  <!-- Header Main -->
  <div class="header-main header-main-style-8 navbar-wrap" id="navbar-wrap">
    <div class="container">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center">

          <!-- start header action -->
          <!-- <div class="humburger-area">
            <div class="item humburger offcanvas-menu-btn menu-status-open">
              <span></span>
            </div>
          </div> -->
          <!-- end header action -->

          <!-- start main menu -->
          <div class="main-menu">
            <nav class="main-menu__nav">
              <ul>
                <li class="main-menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                  true}">
                  <a class="animation" [routerLink]="['/']">Inicio</a>
                </li>
                <li class="main-menu" routerLinkActive="active">
                  <a class="animation" [routerLink]="['/noticias']">Noticias</a>
                </li>
                <!-- <li class="main-menu__nav_sub list">
                  <a class="animation" href="javascript:void(0)">Categorías</a>
                  <ul class="main-menu__dropdown">
                    
                    <li><a >Categoría 1</a></li>
                  </ul>
                </li> -->
                <li class="main-menu" routerLinkActive="active">
                  <a class="animation" [routerLink]="['/nosotros']">Nosotros</a>
                </li>
                <li class="main-menu" routerLinkActive="active">
                  <a class="animation" [routerLink]="['/contacto']">Contáctanos</a>
                </li>
                <li class="main-menu" routerLinkActive="active">
                  <a class="animation" [routerLink]="['/infraestructura']">Infraestructura</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end main menu -->

          <!-- start header action -->
          <!-- <div class="search-wrapper search-wrapper-style-2">
            <form action="#" class="form search-form-box">
              <div class="form-group">
                <input type="text" name="sarch" id="search" placeholder="Search . . . "
                  class="form-control rt-search-control">
                <button type="submit" class="search-submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div> -->
          <!-- end header action -->

        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- End Header Main -->

</header>
<!-- end header -->

<!-- start rt-mobile-header -->
<div class="rt-mobile-header mobile-sticky-on">

  <div id="mobile-sticky-placeholder"></div>
  <!-- end mobile-sticky-placeholder -->

  <div class="mobile-top-bar" id="mobile-top-bar">
    <ul class="mobile-top-list">
      <li>
        <span class="rt-meta">
          <i class="far fa-calendar-alt icon"></i>
          <span class="currentDate">DECEMBER 9, 2022</span>
        </span>
      </li>
      <li>
        <span class="rt-meta">
          <i class="fas fa-map-marker-alt icon"></i>
          Chiclayo, Lambayeque, Perú 🇵🇪
        </span>
      </li>
    </ul>
  </div>
  <!-- end mobile-top-bar -->

  <div class="mobile-menu-bar-wrap" id="mobile-menu-bar-wrap">
    <div class="mobile-menu-bar">
      <div class="logo">
        <a routerLink="/">
          <img src="https://res.cloudinary.com/ligthsoft/image/upload/v1669812670/peregrino/oyrronnopzrahvhyumrt.png" alt="el-peregrino" width="350" height="72">
        </a>
      </div>
      <span class="sidebarBtn" #sidebarBtn>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
    </div>
    <div class="rt-slide-nav" #rt_slide_nav>
      <div class="offscreen-navigation">
        <nav class="menu-main-primary-container">
          <ul class="menu">
            <li class="list menu-item">
              <a href="" class="animation" [routerLink]="['/']" routerLinkActive="active-mobile"
                [routerLinkActiveOptions]="{exact:
                true}">
                Inicio
              </a>
            </li>
            <li class="list menu-item">
              <a href="" class="animation" [routerLink]="['/noticias']" routerLinkActive="active-mobile">
                Noticias
              </a>
            </li>
            <li class="list menu-item">
              <a href="" class="animation" [routerLink]="['/nosotros']" routerLinkActive="active-mobile"
                [routerLinkActiveOptions]="{exact:
                true}">
                Nosotros
              </a>
            </li>
            <li class="list menu-item">
              <a href="" class="animation" [routerLink]="['/contacto']" routerLinkActive="active-mobile"
                [routerLinkActiveOptions]="{exact:
                true}">
                Contáctanos
              </a>
            </li>
            <li class="list menu-item">
              <a href="" class="animation" [routerLink]="['/infraestructura']" routerLinkActive="active-mobile"
                [routerLinkActiveOptions]="{exact:
                true}">
                Infraestructura
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>



</div>
<!-- end rt-mobile-header -->
