<!-- 
    <h1 mat-dialog-title>{{ !image ? "Subir" : "Editar" }} Imagen</h1>
    <div mat-dialog-content>
        <small>*Subir solo una imagen a la vez</small>
        <br>
        <input class="form-control" 
               (change)="onFileSelected(fileInput)" 
               #fileInput 
               type="file" 
               id="file">
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-button (click)="closeDialog()">
            Cancelar
        </button>
        <button (click)="store()" mat-button cdkFocusInitial>Guardar</button>
    </div> -->

    