<div class="row">
  <div class="col-lg-12">

    <div class="card" *ngIf="loading">
      <div class="card-body">
        <h5 class="card-title">Estadísticas</h5>
        <div 
          class="d-flex justify-content-center align-items-center h-400"
          [ngClass]="loading ? 'd-block' : 'd-none'"
        >
          <mat-spinner 
            strokeWidth="5"
            diameter="50"
          ></mat-spinner>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="!loading">
      <div class="card-body">
        <h5 class="card-title">Estadísticas</h5>
        <ngx-charts-advanced-pie-chart
        scheme="picnic"
        [results]="data"
        [gradient]="gradient"
        >
      </ngx-charts-advanced-pie-chart>
      </div>
    </div>

  </div>


</div>
