<div class="d-flex flex-row align-items-center justify-content-between gap-1">
    <h3 class="pagetitle">Categorías de los Anuncios!</h3>
    <button mat-raised-button color="accent" (click)="openDialog()">
        <i class="fas fa-plus-circle"></i>
      Nueva Cat. de Anuncios
    </button>
  </div>
<div class="row">
    <div class="col-4 pt-2" *ngFor="let catAnuncio of catAnuncios">
        <mat-card> 
            <mat-card-title>{{ catAnuncio.name }}</mat-card-title>
            <mat-card-actions class="d-flex justify-content-between">
                <button mat-button color="accent" (click)="openDialog(true,catAnuncio.id)"><i class="fas fa-pen"></i></button>
                <button mat-button color="warn" (click)="eliminar(catAnuncio.id)"><i class="fas fa-trash"></i></button>
              </mat-card-actions>
        </mat-card>
    </div>
</div>