<!-- Start inner page Banner -->
<div class="banner inner-banner">
    <div class="container">
       <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item">
                <a routerLink="/">
                   <i class="fas fa-home"></i>
                   Home
                </a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">
                Contáctanos
             </li>
          </ol>
       </nav>
    </div>
 </div>
 <!-- End inner page Banner -->

 <!-- start contact-section-layout-1 -->
 <div class="contact-section-layout-1 section-padding-2">
    <div class="container">
       <div class="row gutter-30 justify-content-between align-items-center">
          <div class="col-xl-6 col-lg-6 animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="800ms">
             <div class="contact-wrap-area-1">

                <div class="rt-section-heading-style-2">
                   <span class="sub-title">¿CÓMO PODEMOS AYUDARTE?</span>
                   <h2 class="heading-tilte">
                      Información de contacto
                   </h2>
                   <p>
                      Aquí ponemos a su disposición todos los medios por los cuáles podrán contactarse con nosotros. 
                      También dejamos un formulario donde podrán dejar un mensaje, consulta o cualquier inquietud que se les presente.

                   </p>
                </div>

                <div class="contact-list-area-1 ">
                   <ul class="contact-list-style-1 clearfix">
                      <li class="list-item media">
                         <div class="list-icon">
                            <i class="fas fa-map-marker-alt"></i>
                         </div>
                         <div class="list-content">
                            <span>Manco Inca Nº 1098, La Victoria</span>
                            <!-- <span>Sit Rd, Azusa New York</span> -->
                         </div>
                      </li>
                      <br>
                      <li class="list-item media">
                         <div class="list-icon">

                            <i class="far fa-envelope"></i>
                         </div>
                         <div class="list-content">
                            <span>
                               <a href="mailto:elperegr@colegioelperegrino.com">elperegr@colegioelperegrino.com</a>
                            </span>
                         </div>
                      </li>
                      <br>
                      <li class="list-item media">
                         <div class="list-icon">
                            <i class="fas fa-phone-alt"></i>
                         </div>
                         <div class="list-content">
                            <span><a href="tel:+51978068791">+51 978 068 791</a></span>
                         </div>
                      </li>
                      <!-- <li class="list-item media">
                         <div class="list-icon">
                            <i class="fas fa-globe-americas"></i>
                         </div>
                         <div class="list-content">
                            <span>
                               <a href="https://www.el-indice.com/" rel="nofollow">www.el-indice.com</a>
                            </span>
                         </div>
                      </li> -->
                   </ul>
                </div>
             </div>
          </div>
          <!-- end col -->

          <div class="col-xl-5 col-lg-6 animate__animated animate__fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
             <form [formGroup]="contactForm" (ngSubmit)="postMessage()" class="contact-form-style-1 rt-contact-form">
                <h4 class="form-title">Déjanos un mensaje</h4>
                <div class="form-group">
                   <input type="text" class="form-control rt-form-control" placeholder="Nombre *" required formControlName="nombre" autocomplete="off">
                   <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                   <input type="email" class="form-control rt-form-control" placeholder="E-mail *"
                      formControlName="email" autocomplete="off">
                   <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                   <input type="tel" class="form-control rt-form-control" placeholder="Teléfono *"
                      required formControlName="telefono" autocomplete="off">
                   <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                   <textarea class="form-control rt-form-control rt-textarea"
                      placeholder="Mensaje *" required formControlName="mensaje" autocomplete="off"></textarea>
                   <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="submit-btn" [disabled]="contactForm.invalid">Enviar</button>
                <div class="form-response"></div>
             </form>
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
 <!-- end contact-section-layout-1 -->

 <!-- start  Map Section -->
 <!-- <div class="map-section-style-1">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="map-wrapper map-style-1">
                <iframe class="map"
                   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1623138767707!5m2!1sen!2sbd"
                   style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>
          </div>
       </div>
    </div>
 </div> -->
 <!-- End  Map Section -->