<!-- Start Footer -->
<footer class="footer footer-style-4 layout-2">

  <div class="container">
    <div class="footer-widget-style-2 d-flex align-items-center justify-content-center text-center flex-column">

      <div class="logo wow fadeInDown" data-wow-delay="200ms" data-wow-duration="800ms">
        <a href="index.html">
          <img src="./assets/web/media/logo/logo-classic.png" alt="logo-classic" width="170" height="50">
        </a>
      </div>

      <ul class="footer-menu-style-2 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="800ms">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="technology.html">Categories</a>
        </li>
        <li>
          <a href="about.html">Privacy</a>
        </li>
        <li>
          <a href="about.html">Terms</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>

      <div class="social-wrapper-line-style">
        <span class="wrapper-line wow zoomIn" data-wow-delay="400ms" data-wow-duration="800ms"></span>
        <ul class="footer-social mb-0 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
          <li class="social-item">
            <a href="https://www.facebook.com/" class="social-link fb" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://twitter.com/" class="social-link tw" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://vimeo.com/" class="social-link vm" target="_blank">
              <i class="fab fa-vimeo-v"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.pinterest.com/" class="social-link pn" target="_blank">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.whatsapp.com/" class="social-link wh" target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
        </ul>
        <span class="wrapper-line wow zoomIn" data-wow-delay="700ms" data-wow-duration="800ms"></span>
      </div>

      <p class="copyright-text mb-0 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="800ms">
        <span class="currentYear"></span> © neeon all right reserved by
        <a href="https://www.radiustheme.com/" rel="nofollow">RadiusTheme</a>
      </p>

    </div>
    <!-- end footer-widget-style-2 -->
  </div>

</footer>
<!-- End  Footer -->
